<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.opensagres.xdocreport.admin.eclipse.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="fr.opensagres.xdocreport.admin.eclipse.ui.Perspective"
            id="fr.opensagres.xdocreport.admin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%XDocReport.category"
            id="fr.opensagres.xdocreport.admin.eclipse">
      </category>         
      <view
            name="%RepositoryExplorer.name"
            class="fr.opensagres.xdocreport.admin.eclipse.ui.views.RepositoryExplorer"
            id="fr.opensagres.xdocreport.admin.eclipse.ui.views.RepositoryExplorer"
            category="fr.opensagres.xdocreport.admin.eclipse"
            icon="icons/obj16/repositories.gif" >
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               ratio="0.25f"
               id="fr.opensagres.xdocreport.admin.eclipse.ui.views.RepositoryExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
	        <command
	              commandId="org.eclipse.ui.file.save"
	              style="push">    
	        </command>               
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.opensagres.xdocreport.eclipse.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>       
   </extension>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.document.DocumentResourceEditor"           
           extensions="*"
           icon="icons/obj16/document.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.document.DocumentResourceEditor"
           name="%DocumentResourceEditor.name">
     </editor>        
     <editor
           class="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.category.CategoryResourceEditor"           
           extensions="*"
           icon="icons/obj16/category.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.category.CategoryResourceEditor"
           name="%CategoryResourceEditor.name">
     </editor>
     <editor
           class="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.template.TemplateResourceEditor"           
           extensions="*"
           icon="icons/obj16/template.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.template.TemplateResourceEditor"
           name="%TemplateResourceEditor.name">
     </editor>     
   </extension>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="fr.opensagres.xdocreport.admin.eclipse.ui.editors.repository.RepositoryEditor"           
           extensions="*"
           icon="icons/obj16/repository.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.repository.RepositoryEditor"
           name="%RepositoryEditor.name">
     </editor>
   </extension>   
</plugin>
