<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.opensagres.xdocreport.admin.eclipse.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="fr.opensagres.xdocreport.admin.eclipse.ui.Perspective"
            id="fr.opensagres.xdocreport.admin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%RepositoryExplorer.name"
            class="org.eclipse.springframework.util.SpringExtensionFactory:repositoryExplorer"
            id="fr.opensagres.xdocreport.admin.eclipse.ui.views.RepositoryExplorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               ratio="0.30f"
               id="fr.opensagres.xdocreport.admin.eclipse.ui.views.RepositoryExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.eclipse.springframework.util.SpringExtensionFactory:fileResourceEditor"           
           extensions="*"
           icon="icons/obj16/file.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.FileResourceEditor"
           name="%FileResourceEditor.name">
     </editor>
   </extension>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.eclipse.springframework.util.SpringExtensionFactory:folderResourceEditor"           
           extensions="*"
           icon="icons/obj16/folder.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.resources.FolderResourceEditor"
           name="%FolderResourceEditor.name">
     </editor>
   </extension>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.eclipse.springframework.util.SpringExtensionFactory:repositoryEditor"           
           extensions="*"
           icon="icons/obj16/repository.gif"
           id="fr.opensagres.xdocreport.admin.eclipse.ui.editors.repository.RepositoryEditor"
           name="%RepositoryEditor.name">
     </editor>
   </extension>   
</plugin>
