<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="xdocreport"
            themeId="org.eclipse.rap.design.example.business.theme"
            defaultEntrypointId="fr.opensagres.xdocreport.admin.eclipse.ui.application"
            title="REST/SOAP XDocReport Admin"
            id="fr.opensagres.xdocreport.admin.eclipse.ui.branding">
      </branding>
   </extension>
   
</plugin>
